- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?

%header
  %nav
    .container
      .row.header_links
        %a.burg-menu{:href => "#"}
          %i
        .col-lg-6.logo
          %img{:alt => "logo", :src => "https://upload.wikimedia.org/wikipedia/commons/8/85/Logo-Test.png"}/
        .col-lg-6
          .links
            %a{:href => "/"} home
            %a{:href => "/contact"} contact
            %a{:href => "/campaigns"} library
            -# %a{:href => ""} characters
            = '|'
            .login_links
              - if user_signed_in?
                -# .username
                -#   %span= "#{current_user.email}"
                - if current_user.avatar.attached?
                  = image_tag current_user.avatar
                .button
                  = link_to t('profile'), edit_user_registration_path
                .button
                  = link_to t('logout'), destroy_user_session_path, method: 'delete'
              - else
                .button
                  = link_to t('login'), new_user_session_path
                .button
                  = link_to t('sign_up'), new_user_registration_path