= form_for @character do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :campaign
    %p=@character.campaign.name
    = f.hidden_field :campaign_id, value: @character.campaign.id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :desc
    = f.text_field :desc
  .actions
    = f.submit 'Save'
