-# %p#notice= notice

.characters_wrapper
  .banner_wrapper
    .banner_inner
      %h1= @character.campaign.name

  .container
    .description 
      %h2= @character.name
      %p= @character.desc

  .add_btn_container 
    .btn_small
      = link_to 'Edit', edit_character_path(@character)
      \|
      = link_to 'Back', campaign_path(@character.campaign)
