%p#notice= notice

%p
  %b Campaign:
  = @character.campaign
%p
  %b Name:
  = @character.name
%p
  %b Desc:
  = @character.desc

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
