.characters_wrapper
  .banner_wrapper
    - if @character.campaign.image.attached?
      = image_tag @character.campaign.image
    .banner_inner
      %h1= @character.campaign.name

  .container
    .description 
      - if @character.image.attached?
        .image_wrapper
          = image_tag @character.image
      %h2= @character.name
      %p= @character.desc

  .add_btn_container 
    .btn_small
      = link_to t('.char_edit_link'), edit_character_path(@character)
      \|
      = link_to t('.char_back_link'), campaign_path(@character.campaign)
