.campaigns_wrapper
  .container

    - @campaigns.in_groups_of(3, false).each do |group|
      .row.card_row
        - group.each do |item|
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .card
              - if item.image.attached?
                = image_tag item.image
              .content
                %h3= item.name
                %span= item.desc
              .edit_btns
                = link_to 'Show', item, class: "card_btn"
                = link_to 'Edit', edit_campaign_path(item), class: "card_btn"
                = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "card_btn"
    .add_btn_container
      .button
        = link_to 'New Campaign', new_campaign_path
