.campaigns_wrapper
  .container
    .list_inner
      %h1 Listing campaigns

      %table
        %thead
          %tr
            %th Name
            %th Desc
            %th
            %th
            %th

        %tbody
          - @campaigns.each do |campaign|
            %tr
              %td= campaign.name
              %td= campaign.desc
              %td
                .button.small_btn
                  = link_to 'Show', campaign
              %td
                .button.small_btn
                  = link_to 'Edit', edit_campaign_path(campaign)
              %td
                .button.small_btn
                  = link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }

      %br
      
      .button
        = link_to 'New Campaign', new_campaign_path
