.campaigns_wrapper
  .container

    - @campaigns.in_groups_of(6, false).each do |group|
      .row.card_row
        - group.each do |item|
          .col-lg-4.col-md-6.col-sm-6.col-xs-12.card_col
            .card_outer
              .card_icons
                = link_to (edit_campaign_path(item)) do
                  .i_wrap
                    %i.bi.bi-pencil-fill
                = link_to (item), method: :delete, data: { confirm: t('.camp_destroy_confirm_msg') } do
                  .i_wrap
                    %i.bi.bi-file-earmark-x-fill
              .card
                = link_to (item) do
                  - if item.image.attached?
                    = image_tag item.image
                    .card_overlay
                  .content
                    %h3= item.name
                    %span= item.desc
    .add_btn_container
      .button
        = link_to t('.camp_new_msg'), new_campaign_path
