.banner_wrapper
  - if @campaign.image.attached?
    = image_tag @campaign.image
  .banner_inner
    -# %p#notice= notice
    %h1= @campaign.name
    .btn_small
      = link_to t('.camp_edit_link'), edit_campaign_path(@campaign)
      \|
      = link_to t('.camp_back_link'), campaigns_path

.container
  .description 
    %p= @campaign.desc

.character_listing_wrapper
  .container

    .add_btn_container 
      .add_btn_row
        .button
          = link_to t('.camp_show_msg'), new_character_path(campaign_id: @campaign)

    - @campaign.characters.in_groups_of(4, false).each do |group|
      .row.card_row
        - group.each do |item|
          .col-lg-3.col-md-6.col-sm-6.col-xs-12
            .card_outer
              .card_icons
                = link_to (edit_character_path(item)) do
                  .i_wrap
                    %i.bi.bi-pencil-fill
                = link_to (item), method: :delete, data: { confirm: t('.camp_destroy_confirm_msg') } do
                  .i_wrap
                    %i.bi.bi-file-earmark-x-fill
              .card
                = link_to (item) do
                  .img_wrapper
                    - if item.image.attached?
                      = image_tag item.image
                  .content
                    %h3= item.name
                    %span= item.desc


